@model IEnumerable<Projekt.DAL.Models.Recipe>

@{
    ViewBag.Title = "Index";
}

<h2>My recipes</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Recipes" , null, new { @class ="btn btn-success"})
</p>
<table class="table table-bordered text-center">
    <tr>
        <th>
            Name:
        </th>
        <th>
            Number of servings:
        </th>
        <th>
           Description:
        </th>
        <th>
            Total calories:
        </th>
        <th>
            Action:
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoServings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCalories)
        </td>
        
        <td>
            <!--@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |-->
            @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn btn-info" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
